<a href="https://colab.research.google.com/github/saranyapichandi96/Task2/blob/main/Telephone_directory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Telephone Directory CRUD Operation

In [ ]:
#Import necessary modules.
import pymongo
#Create a database using attribute style on a MongoClient instance. 
myclient=pymongo.MongoClient("mongodb://127.0.0.1:27017")
#variable db and assign the new database as an attribute of the client.
db=myclient['telephone']
#Create a collection.
mycollection=db['telephone_directory']
#create a directory which has fields like Name, Phone number, Place etc.,
telephone_info=[
    {
        'Name':'Saranya',
        'Place':'TamilNadu',
        'Phone_no':'9787157987',
        'Location':'India',
        'Pin_Code':'600037'},
    {'Name':'Navin',
    'Place':'TamilNadu',
    'Phone_no':'9787456723',
    'Location':'India',
    'Pin_Code':'604321'},
    {'Name':'Jagadeesh',
    'Place':'Andhra Pradesh',
    'Phone_no':'9087654321',
    'Location':'India',
    'Pin_Code':'623456'},
    {'Name':'Praveen',
    'Place':'Andhra Pradesh',
    'Phone_no':'9034524321',
    'Location':'India',
    'Pin_Code':'675422'},
    {'Name':'Ramani',
    'Place':'Kerala',
    'Phone_no':'76543219012',
    'Location':'India',
    'Pin_Code':'6256783'},
    {'Name':'Raja',
    'Place':'Kerala',
    'Phone_no':'7654464701',
    'Location':'India',
    'Pin_Code':'625679'},
    {'Name':'Saralya',
    'Place':'Gujarat',
    'Phone_no':'8054321932',
    'Location':'India',
    'Pin_Code':'600783'},
    ]
#Insert the record into the collection.
telephone_directory_info=mycollection.insert_many(telephone_info)
#Make a query to find records you just created.
#find_one()
data=mycollection.find_one()
print("Find_one:\n",data)
#find()-->all the data's
data=mycollection.find()
print("Retriving all the datas:\n")
for i in data:
    print(i)
#Modify the records, use the update_one() method. 
old_data={'Name':'Saranya'}
new_data={'$set':{'Name':'SaranyaPichandi'}}
mycollection.update_one(old_data,new_data)
#Delete the record, use delete_one() method.
data={'Name':'Raja'}
mycollection.delete_one(data)